/* @settings

name: Infobox
id: infobox
settings:
    - 
        id: infobox-enabled
        title: Enable Infobox
        type: class-toggle
        description: Enable infoboxes.
        default: true
    - 
        id: infobox-width
        title: Width
        description: Maximum width of the infobox, in pixels.
        type: variable-number-slider
        default: 256
        min: 192
        max: 384
        step: 1
        format: px
    - 
        id: infobox-hide-thead
        title: Hide table headers
        type: class-toggle
        description: Hides table header rows inside of infoboxes.
        default: true
*/

body.infobox-enabled,
 {
    --infobox-font-size: var(--font-smaller) !important;
    --infobox-gap: 16px !important;
    --infobox-width: 256px !important;
}

body.infobox-enabled .cm-sizer:has([data-callout="infobox"]),
 .cm-sizer:has([data-callout="infobox"]),
body.infobox-enabled .markdown-preview-sizer:has([data-callout="infobox"]),
 .markdown-preview-sizer:has([data-callout="infobox"]) {
    --callout-padding: var(--size-4-2);
    --file-line-width: calc(700px + var(--infobox-width));
    --list-spacing: 0.125em;
    --table-header-size: 1em;
}

body.infobox-enabled .cm-callout:has([data-callout="infobox"]) .edit-block-button,
 .cm-callout:has([data-callout="infobox"]) .edit-block-button {
    display: none !important;
}

body.infobox-enabled [data-callout="infobox"],
 [data-callout="infobox"] {
    background: transparent;
    border: 1px solid var(--background-modifier-border);
    font-size: var(--infobox-font-size);
    margin: 0 auto;
}

body.infobox-enabled [data-callout="infobox"] .callout-title,
 [data-callout="infobox"] .callout-title {
    display: none !important;
}

body.infobox-enabled [data-callout="infobox"] .callout-content,
 [data-callout="infobox"] .callout-content {
    background: transparent;
}

body.infobox-enabled [data-callout="infobox"] .edit-block-button,
 [data-callout="infobox"] .edit-block-button {
    display: none;
}

body.infobox-enabled [data-callout="infobox"] .callout-content h2,
 [data-callout="infobox"] .callout-content h2 {
    font-size: 1.25em;
    margin: 0 0 var(--size-4-2);
    text-align: center;
}

body.infobox-enabled [data-callout="infobox"] .callout-content h3,
 [data-callout="infobox"] .callout-content h3 {
    background: var(--background-secondary);
    font-size: 1.0625em;
    margin: var(--size-4-1) 0 !important;
    padding: var(--size-2-1) var(--size-2-2);
    text-align: center;
}

body.infobox-enabled [data-callout="infobox"] .callout-content table,
 [data-callout="infobox"] .callout-content table,
body.infobox-enabled [data-callout="infobox"] .callout-content p,
 [data-callout="infobox"] .callout-content p,
body.infobox-enabled [data-callout="infobox"] .callout-content ol,
 [data-callout="infobox"] .callout-content ol,
body.infobox-enabled [data-callout="infobox"] .callout-content ul,
 [data-callout="infobox"] .callout-content ul {
    margin: var(--size-4-2) 0;
}

body.infobox-enabled [data-callout="infobox"] .callout-content table,
 [data-callout="infobox"] .callout-content table {
    width: 100%;
}

body.infobox-enabled.infobox-hide-thead [data-callout="infobox"] .callout-content thead,
 [data-callout="infobox"] .callout-content thead {
    display: none;
}

body.infobox-enabled [data-callout="infobox"] .callout-content thead tr,
 [data-callout="infobox"] .callout-content thead tr {
    border-bottom: 1px solid var(--background-modifier-border);
}

body.infobox-enabled [data-callout="infobox"] .callout-content td,
body.infobox-enabled [data-callout="infobox"] .callout-content th,
 [data-callout="infobox"] .callout-content td,
 [data-callout="infobox"] .callout-content th {
    border-width: 0 !important;
    padding: var(--list-spacing) 0 var(--list-spacing) var(--callout-padding);
    width: 65%;
}

body.infobox-enabled [data-callout="infobox"] .callout-content td:first-child,
body.infobox-enabled [data-callout="infobox"] .callout-content th:first-child,
 [data-callout="infobox"] .callout-content td:first-child,
 [data-callout="infobox"] .callout-content th:first-child {
    font-weight: bold;
    padding: 0;
    text-align: right;
    width: 35%;
}

body.infobox-enabled [data-callout="infobox"] .callout-content p,
 [data-callout="infobox"] .callout-content p {
    text-align: center;
}

body.infobox-enabled [data-callout="infobox"] .callout-content li,
 [data-callout="infobox"] .callout-content li {
    line-height: var(--line-height-tight);
}
body.infobox-enabled [data-callout="infobox"] .callout-content p:has(.internal-embed),
 [data-callout="infobox"] .callout-content p:has(.internal-embed) {
    margin: 0;
}

body.infobox-enabled [data-callout="infobox"] .callout-content  .internal-embed,
 [data-callout="infobox"] .callout-content  .internal-embed {
    border-radius: 0;
}

body.infobox-enabled:not(.is-mobile) .markdown-preview-sizer:has([data-callout="infobox"]),
body.infobox-enabled.is-tablet .markdown-preview-sizer:has([data-callout="infobox"]),
:not(.is-mobile) .markdown-preview-sizer:has([data-callout="infobox"]),
.is-tablet .markdown-preview-sizer:has([data-callout="infobox"]),
body.infobox-enabled:not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body.infobox-enabled.is-tablet .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
:not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
.is-tablet .cm-contentContainer:has([data-callout="infobox"]) .cm-content {
    position: relative;
}

body.infobox-enabled:not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body.infobox-enabled.is-tablet .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
:not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
.is-tablet .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body.infobox-enabled:not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) + .embedded-backlinks,
body.infobox-enabled.is-tablet .cm-contentContainer:has([data-callout="infobox"]) + .embedded-backlinks,
:not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) + .embedded-backlinks,
.is-tablet .cm-contentContainer:has([data-callout="infobox"]) + .embedded-backlinks,
body.infobox-enabled:not(.is-mobile) .markdown-preview-sizer:has([data-callout="infobox"]) > div:not(.mod-header),
body.infobox-enabled.is-tablet .markdown-preview-sizer:has([data-callout="infobox"]) > div:not(.mod-header),
:not(.is-mobile) .markdown-preview-sizer:has([data-callout="infobox"]) > div:not(.mod-header),
.is-tablet .markdown-preview-sizer:has([data-callout="infobox"]) > div:not(.mod-header) {
    margin-right: calc(var(--infobox-width) + var(--infobox-gap));
    position: relative;
}

body.infobox-enabled:not(.is-mobile) .cm-callout:has([data-callout="infobox"]),
body.infobox-enabled.is-tablet .cm-callout:has([data-callout="infobox"]),
:not(.is-mobile) .cm-callout:has([data-callout="infobox"]),
.is-tablet .cm-callout:has([data-callout="infobox"]),
body.infobox-enabled:not(.is-mobile) .markdown-preview-sizer > div:has([data-callout="infobox"]),
body.infobox-enabled.is-tablet .markdown-preview-sizer > div:has([data-callout="infobox"]),
:not(.is-mobile) .markdown-preview-sizer > div:has([data-callout="infobox"]),
.is-tablet .markdown-preview-sizer > div:has([data-callout="infobox"]) {
    margin-bottom: var(--file-margins) !important;
    position: absolute !important;
    right: calc(-1 * (var(--infobox-width) + var(--infobox-gap))) !important;
    top: 0 !important;
    width: var(--infobox-width) !important;
}

body.infobox-enabled:not(.is-mobile) .show-inline-title .markdown-preview-sizer > div:has([data-callout="infobox"]),
body.infobox-enabled.is-tablet .show-inline-title .markdown-preview-sizer > div:has([data-callout="infobox"]),
:not(.is-mobile) .show-inline-title .markdown-preview-sizer > div:has([data-callout="infobox"]),
.is-tablet .show-inline-title .markdown-preview-sizer > div:has([data-callout="infobox"]) {
    top: calc(var(--inline-title-size) * var(--inline-title-line-height) + 0.5em);
}
